body{
  background-color: #f1f1f1;
}
/* Styles for the page content */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, adjust the style of the sidenav */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* Styling for the main container */
.main-container {
  margin: 5%;
}

/* Styling for the form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Styling for the file input */
input[type="file"] {
  margin-bottom: 10px;
}

/* Styling for the submit button */
input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Hover effect for the submit button */
input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Styling for the images */
img {
  width: 600px;
  height: 600px;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Divider Class Styles */

/* Styling for the container */
.container {
  width: 100%;
  height: 80%;
  margin: auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 5px;
}

/* Styling for the inner container */
.inner-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the section */
.section {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: transparent;
  text-align: center;
  color: #000000;
}

/* Styling for the form container */
.form-container {
  overflow: hidden;
  background-color: #d8d8d8;
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* Repeat styling for the form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Repeat styling for the file input */
input[type="file"] {
  margin-bottom: 10px;
}

/* Repeat styling for the submit button */
input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Repeat hover effect for the submit button */
input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Repeat styling for the images */
img {
  width: 150px;  /* Adjust as needed */
  height: 150px;  /* Adjust as needed */
  object-fit: cover;
  border-radius: 10px;
}

/* Additional styling for the .imi class */
.imi {
  width: 100%;  /* Adjust as needed */
  height: 100%; 
}
